<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2015環島</title>
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/ui-bootstrap-tpls-0.14.3.min.js"></script>
    <script type="text/javascript" src="js/mainController.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <style type="text/css">
        .title{
            text-align: center;
        }

        .info{
            margin-bottom: 50px;
            height: 15px;
        }

        .info a {
            color: white;
        }

        .info span {
            margin-bottom: 10px;
            display: inline-block;
        }

    </style>
</head>
<body ng-app="app" ng-controller="mainController">
    <div ng-repeat="item in items">
        <div class="panel panel-default">
        <div class="panel-heading title" ng-click="collapsed(item);">
            <span>
                {{ item.title }}
            </span>
        </div>
        <div ng-show="item.collapsed">
            <div class="info">
                <span class="label label-primary"><a href="{{ item.url }}">{{ item.hotel }}</a></span>
                <span class="label label-info"><a href="tel:{{ item.phone }}">{{ item.phone }}</a></span>
                <br>
                <span class="label label-success"><a href="https://www.google.com.tw/maps/place/{{ item.address }}">{{ item.address }}</a></span>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                      <th class="col-lg-2 text-center">抵達時間</th>
                      <th class="col-lg-2 text-center">離開時間</th>
                      <th class="col-lg-6 text-center">地點</th>
                      <th class="col-lg-2 text-center">距離(km)</th>
                    </tr>
                </thead>
                <tbody class="text-center" ng-repeat="schedule in item.scheduleList">
                    <tr>
                        <td>
                            <p>
                                {{ schedule.arrivalTime }}
                            </p>
                        </td>
                        <td>
                            <p>
                                {{ schedule.leaveTime }}
                            </p>
                        </td>
                        <td>
                            <a target="_blank" href="https://www.google.com.tw/maps/dir/{{ item.scheduleList[$index-1].mapSearchText }}/{{ schedule.mapSearchText }}">
                                <span class="label label-success">{{ schedule.location }}</span>
                            </a>
                        </td>
                        <td>
                            <p>
                                {{ schedule.distance }}
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
